body{
    background-color: #ccc2c2;
}
.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}
.selection:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.results{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 1rem;
}

.result-score{
    margin-left: 1rem;
    font-size: .5rem;
    color: #333;

}